#aptTitle{
    position: absolute;
    text-align: center;
    top: 75%;
    width: max-content;
    color: black;
    overflow: hidden;
    transition: color 1s, top 1s;
}


#aptInfoDiv{
    position: absolute;
    
}

#aptData{
    position: absolute;
    color: black;
    left: 0;
    height: 100%;
    background-color: white;
    width: 0;
    overflow: hidden;
    transition: width 1s;
    z-index: 5;
}

#aptData ul{
    overflow: hidden;
}

#aptData li{
    list-style-type: none;
    color: black;
}

#aptInfoBtn{
    position: absolute;
    background-color: red;
    width: 50px;
    right: 0;
    margin-top: .5em ;

}

#aptInfoImg{
    margin: 1em .75em ;
    width: 100%;
    height: fit-content;
    border: 2px ridge red;
}


#row1, #row2, #row3{
    width: 100%;
    
    text-align: center;
}

#row2 h5{
    position: absolute;
    margin-top: .5em;
}

#row2 p::before{
    width: 0;
}

#row2 p{
    position: absolute;
    margin-top: 4em;
    width: fit-content;
}

#row3{
    position: absolute;
    margin-top: 7em;
}