#aptTitle{
    position: absolute;
    text-align: center;
    top: 75%;
    width: max-content;
    color: black;
    overflow: hidden;
    transition: color 1s, top 1s;
}


#aptInfoDiv{
    position: absolute;
    
}

#aptData{
    position: absolute;
    bottom: 25%;
    font-size: 20px;
    height: 0%;
    overflow-y: hidden;
    transition: height 2s;
}

#aptData li{
    list-style-type: none;
}